<html>
	<head>
		<title> {{ page.title }} </title>
		<link href="https://fonts.googleapis.com/css?family=Kalam|Permanent+Marker&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" />
	</head>
	<body>
		<div id="container">
			<div id="header">
				{{ site.title }}
			</div>
			<div id="navigation">
				<a href="{{ site.baseurl }}/" style="text-decoration: none;"> Home</a> / 
				<a href="{{ site.baseurl }}/recipes.html" style="text-decoration: none;"> Recipes</a> / 
				<a href="{{ site.baseurl }}/projects.html" style="text-decoration: none;"> Projects</a> / 
				<a href="{{ site.baseurl }}/ukulele.html" style="text-decoration: none;"> Ukulele Stuff</a> /
				<a href="{{ site.baseurl }}/other.html" style="text-decoration: none;"> Miscellaneous</a> /
				<a href="{{ site.baseurl }}/about.html" style="text-decoration: none;"> About</a> 
			</div>
			<div id="main_content">
				{{ content }}
			</div>
			<div id="footer">
			<p>This page was generated, and is hosted by, <a href="https://pages.github.com" style="text-decoration: none;">GitHub Pages</a>.</p>
			<p>Copyright &copy 2022 Mightybuda.com</p>
			<p>
				<script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101259102);</script>
				<script async src="//static.getclicky.com/js"></script>
				<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101259102ns.gif" /></p></noscript>
			</p>
			</div>
		</div>
	</body>
</html>
