<html>
	<head>
		<title> {{ page.title }} </title>
		<link href="https://fonts.googleapis.com/css?family=Kalam|Permanent+Marker&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" />
	</head>
	<body>
		<div id="container">
			<div id="header">
				{{ site.title }}
			</div>
			<div id="navigation">
				<a href="{{ site.baseurl }}/"> Home</a> / 
				<a href="{{ site.baseurl }}/recipes.html"> Recipes</a> / 
				<a href="{{ site.baseurl }}/projects.html"> Projects</a> / 
				<a href="{{ site.baseurl }}/ukulele.html"> Ukulele Stuff</a> /
				<a href="{{ site.baseurl }}/other.html"> Miscellaneous</a> /
				<a href="{{ site.baseurl }}/about.html"> About</a> 
			</div>
			<div id="main_content">
				{{ content }}
			</div>
			<div id="footer">
			<p>This page was generated, and is hosted by, <a href="https://pages.github.com">GitHub Pages</a>.</p>
			<p>Copyright &copy 2020 Mightybuda.com</p>
			</div>
		</div>
	</body>
</html>